.header{
	margin: 60px auto;
	font-size: 20px;
	line-height: 1.5;
}
.header span{
	display: block;
}
.section{
	padding: 30px 0;
}
.container, .col-lg-6{
/*	border: 2px solid red;
*/}
.form{
	border: 5px solid #2727d9;
	padding: 35px 20px;
}
.form input{
	margin-bottom: 15px;
}
.form-header, .section-header{
	margin-bottom: 22px;
	font-size: 20px;
	font-weight: 900;
}
.form-btn{
	background-color: #2727d9;
	margin: 16px auto;
}
.img-icon{
	width: 110px;
}
.feature{
	margin: 60px auto;
}
.feature p{
	margin-top: 20px;
}
.video{
	margin-bottom: 30px;
}